@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

body{
   background: linear-gradient(135deg, #1e1e2f, #2c2c38);
}
/* background-color: #222831;*/
.antafont{
    font-family: "Anta";
}

.gridclass{
    display:grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    box-sizing: border-box;
    row-gap: 0.6rem;
    column-gap: 0.6rem;
}

.container1{
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 30px rgba(0, 191, 255, 0.562); 
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgb(0,191,255);
    color:#ffffff;
    grid-column: 1 / -1;
    width:100%;
    height:50vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.2rem 0.2rem;
    box-sizing: border-box;
}
.container1>img{
    height:100%;
    width:auto;
    filter: drop-shadow(0 0 0.75rem crimson);
    animation-name: updown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.container1>div{
    width:50%;
}
.container1>div>h1{
    font-size:clamp(1.5rem,5vw,3.3rem);
}
.container1>div>h3{
    font-size:clamp(1rem,5vw,2.1rem);
    line-height: 1.4;
}

.educont{
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 30px rgba(0, 191, 255, 0.562); 
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgb(0,191,255);
    color:#ffffff;
    width:auto;
    height:auto;
    box-sizing: border-box;
    line-height: 1.4;
    padding:0.2rem 1rem;
    overflow:hidden;
}
.educont h3 span {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem; 
}
.educont img {
  height: 1.2em;
  width: auto;
  vertical-align: middle;
  display: inline;
  filter: invert(1);
}

.intcont{
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 30px rgba(0, 191, 255, 0.562); 
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgb(0,191,255);
    color:#ffffff;
    width:auto;
    height:auto;
    box-sizing: border-box;
    line-height: 1.4;
    padding:0.2rem 1rem;
    overflow:hidden;
}
.intcont h3 span{
    display:inline-flex;
    gap:0.6rem;
    align-items:center;
}
.intcont img{
    height:1.2em;
    display:inline;
    vertical-align: middle;
    filter: invert(1);
}

.hobbies{
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 30px rgba(0, 191, 255, 0.562); 
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgb(0,191,255);
    color:#ffffff;
    width:auto;
    height:auto;
    box-sizing: border-box;
    line-height: 1.4;
    padding:0.2rem 1rem;
    overflow:hidden;
}
.hobbies h3 span{
    display:inline-flex;
    gap:0.6rem;
    align-items:center;
}
.hobbies img{
    height:1.2em;
    display:inline;
    vertical-align: middle;
    filter: invert(1);
}

@keyframes updown{
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}